html, body{
    height: 100%;
    background-color: crimson;
}
a, a:focus, a:hover{
    color: white;
}
body{
    color: white;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", cursive, Helvetica, Calibri, Arial, sans-serif;
}
.btn-default, .btn-default:hover, .btn-default:focus{
    color: #122b40;
    text-shadow: none; /*Prevent inheritance from body */
    background-color: white;
    border: 1px solid white;
}
.cover{
    padding: 0 20px;
}
.cover .btn-lg{
    padding: 10px 20px;
    font-weight: bold;
}
.cover-container{
    margin-left: auto;
    margin-right: auto;
}
/*Space padding */
.inner{
    padding: 30px;
}
.main-brand{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-nav > li{
    display: inline-block;
}
.main-nav > li + li{
    margin-left: 20px;
}
.main-nav > li > a{
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 2px solid transparent;
}
.main-nav > li > a:hover, .main-nav > li > a:focus{
    background-color: transparent;
    border-bottom-color: white;
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.main-nav > .active > a,
.main-nav > .active > a:hover,
.main-nav > .active > a:focus{
    color: white;
    border-bottom-color: white;
}
.mainfoot{
    color: white;
    color: rgba(255, 255, 255, 0.5);
}
.origin-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
.origin-wrapper-inner{
    display: table-cell;
    vertical-align: top;
}
@media (min-width: 768px) {
    .main-brand{
        float: left;
    }
    .main-nav{
        float: right;
    }
    /*Bring out the header and footer */
    .main{
        position: fixed;
        top: 0;
    }
    .mainfoot{
        position: fixed;
        bottom: 0;
    }
    /*Vertical centering */
    .origin-wrapper-inner{
        vertical-align: middle;
    }
    /*Handle the width */
    .main, .mainfoot, .cover-container{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .main, .mainfoot, .cover-container{
        width: 700px;
    }
}